# Logs
logs
*.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local*
*.localdev*
*.local_dev*
*.dev*
*.development*

*.test*
*.tests*
*.testing*

*.staging*
*.prod*
*.production*
.env

# Editor directories and files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history
.idea
.idea/*
*.iws
*.iml
*.ipr
*.suo
*.sln
*.sw?
*.bak
*.tmp
*.sublime-workspace
*.sublime-project
*.sublime-*
*.komodoproject
.komodotools
.komodoproject
*.ntvs*
*.njsproj
*.sln.docstates
*.user
*.userosscache

*.tsbuildinfo*

test-results/
playwright-report/
jest-report/
dist/

.husky/

# Dependency directories

cypress-report/
cypress-screenshots/
cypress-videos/
cypress-logs/
cypress-coverage/
cypress-debug.log
cypress-error.log
cypress-mocharc.json
cypress.json
cypress.env.json
cypress.env.local.json
cypress.env.ci.json
cypress.env.staging.json
cypress.env.production.json
cypress.env.development.json
cypress.env.test.json
cypress.env.qa.json
cypress.env.staging.json

# Playwright test artifacts
/periodic-table-app/src/playwright-tests/output/
/periodic-table-app/src/playwright-tests/results/
/periodic-table-app/src/playwright-tests/screenshots/
/periodic-table-app/src/playwright-tests/playwright-html-report/index.html
/periodic-table-app/src/playwright-tests/extractedFailedTests.js
/periodic-table-app/src/playwright-tests/extractedFailedTests.cjs
/periodic-table-app/src/playwright-tests/extractedFailedTests.ts


# Vite build output
/build/
/.vite/

#lighthouse generated files
/lighthouse/
lighthouse-report.html
lighthouse-error.html
chromewebdata_*.report.html
lighthouse.report.html
lighthouse.report.json
localhost_*.report.html
localhost_*.report.json

# Jest test artifacts
/jest-tests/output/
/jest-tests/results/
/jest-tests/screenshots/


